@accent1: #0073aa;
@accent2: #ddd;

// #pt-pb-layout, 
#postdivrich {
  display: none;
}

#pt-pb-layout {
  font-weight: 300 !important;
  a {
    text-decoration: none !important;
  }
  .ui-sortable-placeholder {
    border: 1px dashed #ddd !important;
  }
  .sortable-placeholder-pt-pb-row {
    border: 1px dashed #999 !important;
    margin-bottom: 25px;
  }
  .inside {
    padding: 0;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    font-weight: 300;
  }
  .grid {
    margin: 0 0 20px 0;
    background: white;
  }
  .grid:after {
    display: table;
    clear: both;
    /* Or @extend clearfix */

    content: '';
  }
  [class*='col-'] {
    float: left;
    padding: 0 10px;
  }
  .grid [class*='col-']:last-of-type {
    // padding-right: 0;
  }
  .pt-pb-col-2-3 {
    width: 66.66%;
  }
  .pt-pb-col-1-1 {
    width: 100%;
  }
  .pt-pb-col-1-3 {
    width: 33.33%;
  }
  .pt-pb-col-1-2 {
    width: 50%;
  }
  .pt-pb-col-1-4 {
    width: 25%;
  }
  .pt-pb-col-1-8 {
    width: 12.5%;
  }
  .module {
    padding: 20px;
    background: #eee;
  }
  /* Opt-in outside padding */

  .grid-pad {
    padding: 20px 0 20px 20px;
  }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#pt-pb-main-container {
  position: relative;
}

.pt-pb-add-section {
  width: 100%;
  margin: 25px 0 15px;
  padding: 10px 0;
  text-align: center;

  // border: 1px solid #ddd;
  a {
    font-size: 20px;
    text-decoration: none;
    // color: #999;
    &:hover {
      // color: @accent1;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.pt-pb-section {
  margin: 20px 10px !important;
  padding: 0;
  border: 1px solid @accent1;
  background-color: #fff;
  a {
    &:focus {
      color: @accent1;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.pt-pb-header {
  position: relative;
  cursor: move;
  background-color: @accent1;
  h3 {
    padding: 0 10px;
    color: #fff;
  }
  .pt-pb-controls {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    a {
      font-size: 20px;
      line-height: 38px;
      display: inline-block;
      height: 100%;
      padding: 0 5px;
      text-align: center;
      text-decoration: none;
      color: #ddd;
      &:hover {
        color: #fff;
      }
    }
  }
  .handlediv {
    position: absolute;
    top: 0;
    right: 0;
    float: none;
    height: 38px;
    color: #ddd;
    &:hover {
      color: #fff;
    }
    &:before {
      line-height: 38px !important;
      height: 38px;
      padding: 0 10px !important;
      content: '\f142' !important;
      border-left: 1px solid #ddd;
    }
  }
}

.close .handlediv:before {
  content: '\f140' !important;
}

.pt-pb-insert-columns {
  .column-layouts {
    li {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 29%;
      min-height: 100px;
      margin: 2%;
      padding: 20px;
      cursor: pointer;
      background-color: #e0e0e0;
      border-radius: 3px;
    }
    .column-layout {
      float: left;
      overflow: auto;
      min-height: 100px;
      background-color: #59abe3;
      &:before {
        font-size: 16px;
        line-height: 100px;
        display: block;
        text-align: center;
        color: #fff;
      }
      &.full-width {
        width: 100%;
        &:before {
          content: '1/1';
        }
      }
      &.column-layout-1_2 {
        width: 48%;
        margin-right: 4%;
        &:before {
          content: '1/2';
        }
      }
      &.column-layout-1_3 {
        width: 30.66%;
        margin-right: 4%;
        &:before {
          content: '1/3';
        }
      }
      &.column-layout-1_4 {
        width: 22%;
        margin-right: 4%;
        &:before {
          content: '1/4';
        }
      }
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}

.pt-pb-column {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // margin-top: 20px;
  margin: 15px 0;
  &.pt-pb-col-1_1 {
    width: 100%;
  }
  &.pt-pb-col-1_2 {
    width: 48%;
    margin-left: 4%;
  }
  &.pt-pb-col-1_3 {
    width: 30.66%;
    margin-left: 4%;
  }
  &.pt-pb-col-1_4 {
    width: 22%;
    margin-left: 4%;
  }
  &:first-child {
    margin-left: 0 !important;
  }
}

.section-type, .column-module {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 15px;
  font-size: 16px;
  color: #666;
  text-decoration: none;
  margin: 15px;
  width: 260px;
  text-align: center;
  transition: all 0.3s;
  &:hover, &:focus {
    color: #222 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .fa, .dashicons {
    margin-right: 5px;
  }
}

.section-type {
  margin: 0 15px 25px;
}

//.pt-pb-insert-column, 
.pt-pb-insert-module {
  font-size: 16px;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #999;
  border: 1px solid #ccc;
  &:hover {
    color: @accent1;
  }
}

.pt-pb-insert-module {
  border-top: none;
}

.pt-pb-content {
  padding: 15px;
}

.sortable-placeholder {
  float: left;
  min-height: 40px;
  border: none;
  .placeholder-inner {
    border: 1px dashed #ddd;
  }
}

.pt-pb-column-edit {
  text-align: center;
  padding: 15px;
  a, .dashicons, .dashicons-before:before {
    color: #666;
    font-size: 24px;
  }
}

.pt-pb-column-sortable {
  height: 25px;
  border: 1px solid #ccc;
  background: #e5e5e5;
}

.pt-pb-column-sortable {
  cursor: move;
}

.pt-pb-column-header {
  padding: 0 15px;
  a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    .fa {
      margin-left: 5px;
    }
  }
}

.pt-pb-column-content {
  background-color: #fff;
  position: relative;
  textarea {
    // display: none;
  }
}

.module-controls {
  position: absolute;
  top: -21px;
  width: 100%;
  .handlediv {
    height: 24px;
    width: 24px;
    float: none;
    position: absolute;
    top: -3px;
    border-left: 1px solid #ccc;
    right: 0;
    color: #999 !important;
    &:before {
      padding: 0 8px !important;
      top: 2px !important;
      right: 7px !important;
    }
  }
}

.pt-pb-settings-slidera {
  color: #666;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.edit-module {
  position: absolute;
  top: -4px;
  right: 25px;
  // background: #e5e5e5;
  // border: 1px solid #ccc;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  a {
    color: #888;
    display: inline-block;
    margin-left: 8px;
    &:hover {
      color: #333;
    }
  }
}

.admin-label {
  position: absolute;
  left: 10px;
  // top: -21px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.pt-pb-option {
  display: block;
  margin: 10px 0 10px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  &:after {
    display: table;
    clear: both;
    /* Or @extend clearfix */

    content: '';
  }
  &:last-child {
    border-bottom: none;
  }
  label {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 1.1em;
    float: left;
    display: block;
    width: 25%
  }
  .pt-pb-option-container {
    width: 75%;
    // padding-left: 5%;
    float: left;
  }
  .description {
    margin: 2px 0 5px;
  }
  .screenshot {
    width: 98%;
    margin: 5px auto;
    img {
      max-width: 100%;
    }
  }
}

.pt-pb-remove-upload-button, .screenshot {
  display: none;
}

.content-preview {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  p {
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    // padding-left: 0 !important;
  }
}

.animation-preview {
  text-decoration: uppercase;
  color: #1e8bc3;
}

.pt-pb-slide .pt-pb-column-content .content-preview {
  padding: 20px;
  .pt-pb-column {
    padding-right: 0 !important;
  }
}

.pt-pb-add-slide {
  text-align: center;
  // padding: 15px 0;
}

.pt-pb-btn {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 15px;
  margin: 10px 20px 10px 0;
  font-size: 16px;
  color: #666;
  text-decoration: none;
  &:hover {
    color: #222;
  }
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pt-pb-insert-slide {

}

.slide-content-preview, .gimage-content-preview {
  height: 100px;
  border: 1px solid #ddd;
  border-top: none;
  background-position: center center;
  background-size: cover;
  padding: 20px;
  .slide-heading, .slide-text {
    color: #fff;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px !important;
    margin-top: 0 !important;
  }
  .slide-dummy-image {
    a, .dashicons {
      width: 100%;
      display: block;
      font-size: 60px;
      min-height: 60px;
      color: #ccc;
      &:hover {
        color: #aaa;
      }
    }
  }
}

.pt-pb-add-image {
  text-align: center;
  a {
    margin-right: 0;
  }
}

textarea.regular-text {
  width: 25em !important;
  display: inline-block !important;
  height: 5em !important;
}

#pt-pb-editor-hidden {
  display: none;
}

.hidden {
  display: none;
}

.pt-pb-row {
  position: relative;
  margin-bottom: 25px;
  border: 1px solid @accent2;
  background-color: #fff;
  .pt-pb-row-header {
    height: 30px;
    line-height: 30px;
    background-color: @accent2;
    cursor: move;
    // margin-bottom: 20px;
    h3 {
      padding-top: 4px !important;
      color: #666 !important;
      text-transform: uppercase;
    }
    .handlediv {
      height: 30px;
      width: 30px;
      float: none;
      position: absolute;
      top: 0px;
      border-left: 1px solid #aaa;
      right: 0;
      color: #666 !important;
      &:before {
        padding: 0 !important;
        right: -4px !important;
        top: 4px !important;
      }
    }
    .pt-pb-controls {
      position: absolute;
      right: 40px;
      top: 0;
      a {
        color: #666;
        font-size: 16px;
        margin-left: 6px;
        &:hover {
          color: #333;
        }
      }
    }
  }
  .pt-pb-btn {
    padding: 8px 10px;
    font-size: 15px;
    .dashicons {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.pt-pb-content-foot {
  text-align: center;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#pt_pb_loader {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  right: 0;
  left: 0;
  height: 100%;
  .pt-pb-spinner {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    margin: 80px auto;
    border: 0px solid @accent1;
    border-radius: 50%;
    box-shadow: 0 -20px 0 24px @accent1 inset;
    animation: rotateLoader 1s infinite linear;
  }
}